<p>updateprofile works!</p>

<p>Update profile</p>

<table class="table">
    <tr>
        <td>First Name</td>
        <td>
            <input [(ngModel)]="first_name" type="text">
        </td>
       
    </tr>

    <tr>
        <td>Middle Name</td>
        <td>
            <input [(ngModel)]="middle_name" type="text">
        </td>
    </tr>

    <tr>
        <td>Last Name</td>
        <td>
            <input [(ngModel)]="last_name" type="text">
        </td>
    </tr>

    <tr>
        <td>Designation</td>
        <td>
            <select [(ngModel)]="designation_id">
                <option selected>select</option>
                <option value="1">Software Engineer</option>
                <option value="2">Finance Officer</option>
                <option value="3">Teacher</option>
            </select>
           
        </td>
    </tr>

    <tr>
        <td>Role</td>
        <td>
            <select [(ngModel)]="role_id">
                <option selected>select</option>
                <option value="1">Admin</option>
                <option value="2">Moderator</option>
                <option value="3">User</option>
            </select>
        </td>
    </tr>
    <td><button (click)="updateProfile()">Update Profile</button></td>
    <td><button [routerLink]="['']" routerLinkActive="router-link-active" >Back</button></td>
</table>