<p>viewprofile works!</p>

<h2>View hotel</h2>
<table *ngIf="individual_response">
    <tr>
        <td>First Name:</td>
        <td>{{individual_response.first_name}}</td>
    </tr>
    <tr>
        <td>Middle Name:</td>
        <td>{{individual_response.middle_name}}</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>{{individual_response.last_name}}</td>
    </tr>

    <tr>
        <td>Designation:</td>
        <td>{{individual_response.designation_id}}</td>
    </tr>

    <tr>
        <td>Role:</td>
        <td>{{individual_response.role_id}}</td>
    </tr>
    <button routerLink="">Back</button>
</table>
