
<!-- <button routerLink="/create_profile" routerLinkActive="router-link-active" >Create Profile</button> -->


<h1>Profile Details</h1>
<h2>Create Profile: <button [routerLink]="['/create_profile']" routerLinkActive="router-link-active" >Create Profile</button></h2>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Designation</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let pr of Profile_details_response; let i = index">
        <td>{{i+1}}</td>
        <td>{{pr.first_name}}</td>
        <td>{{pr.middle_name}}</td>
        <td>{{pr.last_name}}</td>
        <td>{{pr.designation_id}}</td>
        <td>{{pr.role_id}}</td>
        <!-- <th><button (click)="viewDetail(pr.id)">View</button> <button (click)="updateDetail(pr.id)">Update</button> -->
        <th><button (click)="viewDetail(pr.id)">View</button> <button (click)="updateProfile(pr.id)">Update</button>
    </tr>
</table>

